/*font-family: 'Lato', sans-serif;

*/
*{
    margin:0;
    padding:0;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}
header{
    background-color: black;
}
.banner{
    background-image: url(../images/Banner\ Image.png);
    position: relative;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    width:90%;
    margin:auto;
}
    
.banner::before{
    content:'';
    position:absolute;
    left:0px;
    top:0px;
    width: 100%;
    height: 100%;
    color: #000000;
    opacity: .7;
    z-index: -1;
}


  
.banner h2{
   color: #000;
   font-size: 66px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 600;
   text-transform: capitalize;
}
.banner h3{
   color: #000;
   font-size: 40px;
   text-transform: capitalize;
   font-weight: 400;
   margin-bottom: 10px;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
}
.category_section{
    width:70%;
    margin: auto;
    text-align: center;
}
.catrgory{
    padding: 50px 0px;
}
.catrgory h2{
   color:#FF0000;
   font-size: 45px;
   margin-bottom: 10px;
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
} 
.catrgory h4{
    color:#FF0000;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.catrgory h3{
   color:#070211;
   font-size: 24px;
   text-transform: uppercase;
   font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.catrgory img{

}
.part_section{
    width:90%;
    margin:auto;
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 70vh;
    position: relative;
}
.part_section::before{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    background-color: black;
    opacity: .5;
    z-index: -1}
    .party{
     width:60%;
     padding:50px;
    }
    .party h2{
        padding:50px;
        color: #fff;
        font-size: 75px;
        font-family: sans-serif;
    }
    .party p{}
    .join_btn{
        margin-left:50px;
        padding: 10px;
        color: #fff;
        background: transparent;
        border: 2px solid #000;
        text-transform: uppercase;
    }
    .offer_section{
        width:90%;
        background-color: #FFEBEB;
        min-height: 30vh;
        margin:auto;
       
    }
    .offer{
      margin:50px 0px;
      text-align: center;
    }
    .place{
       color:#070211;
       padding-top: 40px;
       margin-bottom: 10px;
       text-transform: capitalize;
       font-family: sans-serif;
       font-size: 22px;
    }
    .place span{

color: #FF0000;

text-transform: capitalize;

font-size: 22px;

font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

}
    .date{
        color:#070211;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 22px;
    }
    .date span{

     color: #FF0000;
     text-transform: capitalize; 
     font-size: 22px;
     font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

}
    .time{
        color:#070211;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 22px;
    }
    .time span{
        color: #FF0000;
        text-transform: capitalize; 
        font-size: 22px;
        font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;}
.offer_btn{
    background-color:#FF0000;
    color:#fff;
    font-size: 16px;
    padding: 7px;
    border:1px solid #FF0000;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
}
.best_section{
    width:90%;
    margin:auto;
    display: flex;
    justify-content: center;
}
.best{
  width:30%;
  margin-top:70px;
  padding: 0px 40px;
}
.best h3{
  text-transform: capitalize;
  color: #FF0000;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 10px;
}
.best h2{
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
  color:#070211
}
.best p{
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #999999;
}
.best_img{
    width:30%;
    margin-top:50px;
    position: relative;
}
.best_img img{
    width:70%;
    position: absolute;
    top: 25px;
    left: 28px;
}
.best_new{
    width:30%;
    margin-top:70px;
}
.best_new h2{
  color: #FF0000;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.best_new p{
  margin-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
  color: #999999;
}
.best_new img{
  margin-top: 30px;
  width: 30%;
}
.sale_section{
    width:60%;
    margin:auto;
    text-align: center;
}
.sale_section h4{
  margin-top: 60px;
  color: #26222E;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.sale_section h2{
  text-transform: uppercase;
  color: #070211;
  font-size: 35px;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.holiday{
    color: #FF0000;
}
.sale_section p{
  color: #999999;
  font-size: 16px;
}
.portfolio_section{
    background-color: #fff;
    padding:100px 0px;
}
.portfolio_wrapper{
    width:90%;
    margin:auto;
}
.portfolio_heading{
    text-align: left;
    width:40%;
    
}
.portfolio_heading h3{
    color: #FF0000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.portfolio_heading h2{
    color: #070211;
    font-size: 24px;
    text-transform: capitalize;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.portfolio_heading p{
    color: #999999;
    font-size: 16px;
    margin-bottom: 30px;
}
.portfolio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   
.portfollio_items{
    width:32%;
    position:relative;
    margin-top: 30px;
}
.portfollio_items img{
    width: 100%;
    display: block;
}
.portfollio_items::before{
    position: absolute;
    content: '';
    left:0%;
    top:0;
    height: 0%;
    width:100%;
    background-color:#000;
    border-radius: 3px;;
    opacity: .5;
    transition: .5s all  ease-in-out;

}
.portfollio_items:hover::before{
    height:100%
}
.portfollio_items ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
   
}

.portfolio_wrapper ul li{
    list-style: none;
    height: 30px;
    width: 30px;
    border: 1px solid #fff;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
}
.portfollio_items:hover ul{
    opacity: 1;
}
.news_section{
    background-color: #FFEBEB;
    width:90%;
    margin:auto;
    padding-bottom: 100px;
    
}


.news{
   text-align: center;
   width: 50%;
}

.news img{
   padding-top: 50px;
}

.news h2{
    color:#070211;
    font-size: 30px;
    text-transform:capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
}
.news p{
  font-size: 16px;
  color: #999;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}
.news input{
  color: #ddd;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.subscribe{
  border: none;
  color: #fff;
  background: #ff0000;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 10px;
  line-height: 1.3;
  padding: 10px 40px;
  font-weight: 400;
  margin-top: 20px;
}
footer{
    background-color: #000;
    color:#fff;
}

.footer{
   width:90%;
   margin:auto;
   padding:50px 0px;
}
.footer_garary{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_items{
   width:30%;
}   
.footer_items h2{
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    
}
.footer_items_two{
    width:30%;
}
.footer_items_there{
    width:30%;
}
.design_section{
    display: flex;
    
   
}
.design_img{

}
.design_img img{}
.design_text{}
.design_text h3{
    margin-left:5px;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.footer_img_sec{
   border-top:1px solid #999;
   border-bottom: 1px solid #999999;
   margin:20px 0px;

}
.footer_img_garrary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:15px 0px;
}
.footer_img_one img{
    width:40px;
}
.footer_img_two img{
    width:40px;
}
.footer_img_three img{
    width:40px;
}
.footer_img_four img{
    width:40px;
}
.footer_sub{
  width:90%;
    
}
.footer_sub_garrary{
    width:90%;
}
.footer_subscribe{
    width:30%;
}
.footer_subscribe_one{
    width:30%;
}
.footer_subscribe_two{
    width:30%;
}
.best_img_one{
  display: block;
  border: 6px solid #ff0000;
  width: 300px;
  border-radius: 50%;
  height: 300px;
  position: relative;
}
.banner_content h1{
    color: #000;
    font-size: 68px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.new_wra_sec{
    display: flex;
}
.news_wra{
    width: 25%;
}
.news_wra_two{
    width: 25%;
}
